{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2 class="page-title">Checkout</h2>

    {# <div class="row"> #}
    <table><tr>
    {% for product in products %}
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <h4>&pound;{{ (product.price/100)|number_format(2, '.', ',') }}</h4>
                </div>
            </div>
        </div>
        {% if loop.index % 2 == 0 %}
            </tr></table>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="text-center">
            <h2>Total price: {{Total}} GBP</h2>
        </div>    
    </div>
    <div class="row mt-3">
        <div class="text-center">
            <a class="btn btn-primary" href="/thanks" title="Confirm your order">Confirm Order</a>
        </div>
    </div>
{% endblock %}