{% extends 'base.html.twig' %}

{% block title %}Thanks{% endblock %}

{% block content %}
    <h2 class="page-title">Thank You.</h2>
    <p class="lead">Your order is on it's way!</p>
    <p>Thanks for shopping with World of Wonders, we hope you enjoy your purchase.</p>
{% endblock %}